# Config 서버
CONFIG_SERVER_HOST=             # config 서버 IP (예: 34.50.50.170)

# DB 설정
host=                           # DB 호스트 (도커: product-db)
port=5432                       # DB 포트
dbname=                         # DB 이름
username=                       # DB 사용자명
password=                       # DB 비밀번호

# Kafka 설정
BOOTSTRAP_SERVERS=              # Kafka 브로커 주소 (예: ip1:9092,ip2:9092,ip3:9092)
TRUST_STORE_PASSWORD=           # Kafka SSL truststore 비밀번호

# Docker 설정
DOCKER_REGISTRY=docker.io/jin4041
VERSION=latest
LOG_DIR=./logs